---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
import Pdf from "../../public/assets/Isaac_Dyor_Resume.pdf";
---

<Layout
  title="About Me - Isaac Dyor"
  description="Learn about Isaac Dyor, a Computer Science student at the University of Washington. Discover more about his experience and passion for software development."
>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm a software developer from Seattle Washington. I'm passionate about building new products and learning new technology. I am looking to build my career in the startup industry because I love innovation and fast iteration."
    />

    <img
      src="/assets/images/about.jpg"
      class="relative z-30 w-full my-10 rounded-xl"
    />

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              {loop == experiences.length - 1 ? (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              ) : (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              )}
            </>
          );
        })
      }
    </div>

    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      For more information check out my <a
        href="/assets/Isaac_Dyor_Resume.pdf"
        target="_blank"
        class="text-indigo-600 underline">resume</a
      >
    </p>
  </section>
</Layout>
